{% extends "layout.html" %}

{% block content %}
<div class="container-narrow">
	<form method="POST" action="" role="form">
		<div class="form-group">
			{{ post_form.title.label }} 
			{{ post_form.title(class_="form-control") }}
		</div>
		<div class="form-group">
			{{ post_form.authors.label }} 
			{{ post_form.authors(class_="form-control") }}
		</div>
		<div class="form-group">
			{{ post_form.body() }}
		</div>
		<div class="form-group">
			{{ post_form.subject_tags.label }}
			{{ post_form.subject_tags(class_="form-control",**{"data-role":"tagsinput"}) }}
		</div>
		<div class="form-group">
			{{ post_form.is_visible.label }}
			{{ post_form.is_visible() }}
		</div>
		<div class="form-group">
			<div class="row">
				{{ post_form.post(class_="btn btn-default btn-submit") }}
				{{ post_form.cancel(class_="btn btn-default btn-submit") }}
			</div>
		</div>
	</form>
</div>
{% endblock %}