{% extends "layout.html" %}
{% block content %}
<div class="body-content">
	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Authors</th>
			<th>Published?</th>
			<th>Tags</th>
			<th>Created On</th>
		</tr>
		{% for article in articles %}
			<tr>
				<td>{{article["id"]}}</td>
				<td>{{article["title"]}}</td>
				<td>{{article["authors"] }}</td>
				<td>
					{% if article["published"] %}
						<span class="glyphicon glyphicon-ok"></span>
					{% else %}
						<span class="glyphicon glyphicon-remove"></span>
					{% endif %}
				</td>
				<td>{{ article["tags"] }}</td>
				<td>{{ article["timestamp"] }}</td>
			</tr>
		{% endfor %}
	</table>
	<a href="{{url_for('media.edit_article')}}" class="btn btn-primary btn-lg" role="button">New Article</a>
</div>
{% endblock %}
