
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p>
		Welcome to what is currently referred to as <i>Operatie: Rood Kamer</i>, or 
		<i>Operation: Red Room</i> for our non-Dutch speaking comrades.  The idea is 
		simple; we have a vision of a social media platform that is run by the people
		who use it.  A community in its most primal meaning, not in the hollow interpretation
		found in the countless boardrooms of contemporary capitalism.  Our hope for <em>Rood Kamer</em>
		is for it to be a communal organism working for something greater than can be achieved by our individual 
		members upon their own. In an era ever more defined by the corporate organism with its top-down bureaucratic
		hierarchy; whose character is based solely on its insatiable appetite for wealth, we feel it is incumbent 
		on the people of the world to develop an alternative.
	  </p>
	  <p>
	   Despite this admittedly grandiose vision, we endeavour to have no illusions as to what <em>Rood Kamer</em>
	   might be able to accomplish.  This project is not a "Facebook killer".  Nor do we expect <em>Rood Kamer</em>
	   to radically change the world.  Our goal for this project is for it to illuminate implementable techniques to
	   create a better way of cooperating with one and other, and to develop alternatives to the current capitalist
	   nation state/corporate model.  We expect to learn this through success, but probably more from failure (if we are
	   to be entirely honest).
	  </p>
	  <p>
	   Also, we are bored and lonely.  We are the geeks and iconoclasts who can't be content with the status quo.  We want
	   to make something more beautiful.  Not for our own profit, but because it is what gives meaning to our existence.  Because it
	   is just fucking human. 
	  </p>
    </div>
</div>
{% endblock %}
