
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
  <div class="row">
    <h1>About</h1>
      <p>
        Welcome to RoodKamer (or "Red Room" in English)! What is RoodKamer you ask?
        I mean you did ask, maybe not literally, but you did click on the "about" link, right?
        Otherwise I have no idea what you're looking for. I'd recommend Googling it.
      </p>
      <p>
        Well, for those who <em>do want</em> to know what this RoodKamer thing is, RoodKamer is this.
        RoodKamer is a web platform for Factur. We here at Factur use RoodKamer to manage our library,
        both the dead tree one, and the electrified one. You can find other Facturphiles, find  
        people and their skillsets, form teams, projects, and various whatever. Yeah, you can do this in
        person, but you can also do this here. Without having to stalk people in real life and follow them to
        their homes, and be creepy in real life. That leads to restraining orders and cops. Unless you're
        collecting restraining orders, this is probably not something you want to do. So yeah, connect with
        people, legally, without being too creepy about it. That's why we're here.  
      </p>
      <p>
        
      </p>
  </div>
</div>
{% endblock %}
